services:
  distributor:
    build:
      context: .
      dockerfile: distributor.Dockerfile
    ports:
      - "8080:8080"
      - "9000:9000"
    environment:
      STORAGE_NODES: "storage1:9001,storage2:9002,storage3:9003,storage4:9004,storage5:9005,storage6:9006"
    depends_on:
      - storage1
      - storage2
      - storage3

  # storage servers
  storage1:
    build:
      context: .
      dockerfile: storage.Dockerfile
    environment:
      PORT: "9001"
    ports:
      - "9001:9001"

  storage2:
    build:
      context: .
      dockerfile: storage.Dockerfile
    environment:
      PORT: "9002"
    ports:
      - "9002:9002"

  storage3:
    build:
      context: .
      dockerfile: storage.Dockerfile
    environment:
      PORT: "9003"
    ports:
      - "9003:9003"

  storage4:
    build:
      context: .
      dockerfile: storage.Dockerfile
    environment:
      PORT: "9004"
    ports:
      - "9004:9004"

  storage5:
    build:
      context: .
      dockerfile: storage.Dockerfile
    environment:
      PORT: "9005"
    ports:
      - "9005:9005"

  storage6:
    build:
      context: .
      dockerfile: storage.Dockerfile
    environment:
      PORT: "9006"
    ports:
      - "9006:9006"
