services:
  distributor:
    build:
      context: .
      dockerfile: distributor.Dockerfile
    ports:
      - "8080:8080"
      - "9000:9000"
    environment:
      STORAGE_NODES: "storage1:9001,storage2:9002,storage3:9003"
    depends_on:
      - storage1
      - storage2
      - storage3

  # storage servers
  storage1:
    build:
      context: .
      dockerfile: storage.Dockerfile
    environment:
      PORT: "9001"
    ports:
      - "9001:9001"

  storage2:
    build:
      context: .
      dockerfile: storage.Dockerfile
    environment:
      PORT: "9002"
    ports:
      - "9002:9002"

  storage3:
    build:
      context: .
      dockerfile: storage.Dockerfile
    environment:
      PORT: "9003"
    ports:
      - "9003:9003"
